.detail{
    width: 80% ;
    padding-top: 30px;
    text-align:  center;
    padding-left: 10%;
    list-style-type: none;


}
.text-heading{
    text-align: center;
}
.img-product-detail{
    width: 25%;
    height: 60%;
}
.close{
    text-decoration: none;
}