.product{
    width: 80% ;
    padding-top: 30px;
    text-align:  center;
padding-left: 10%;
list-style-type: none;
}
.text-heading{
    text-align: center;
}
.img-product{
    width: 30%;
    height: 55%;
}