

  .text-heading{
    text-align: center;
    background-color: #fff;
  }

  .product{
    width: 80% ;
    padding-top: 30px;
    text-align:  center;
    padding-left: 10%;
    list-style-type: none;
}
  .text-product{
    text-align: center;
  }
  .img-product{
    width: 30%;
    height: 60%;
   
  }
  .pagination{
    display: flex;
    list-style-type: none;
    float: right;
  }
  .page-item{
    padding-right: 10px;
  }