
.body{
  display: flex;
}
.text-heading{
  text-align: center;
  background-color: #fff;
}
.product{
  width:calc(100%);
  list-style-type: none;
  /* padding: 30px; */
}
.text-product{
  text-align: center;
}
.img-product{
  width: calc(100%);
 
}
.pagination{
  display: flex;
  list-style-type: none;
  float: right;
}
.page-item{
  padding-right: 10px;
}